<div class="container">
    <div class="no-items" *ngIf="!campaigns.length">No item matches your search criterias</div>
    <table *ngIf="campaigns.length">
        <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Submission</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let campaign of campaigns" (click)="edit.emit(campaign)">
                <td>
                    <app-campaign-status [requestStatus]="campaign.requestStatus"></app-campaign-status>
                </td>
                <td>{{ campaign.campaignName }}</td>
                <td>
                    <app-campaign-type [isAdvice]="campaign.advice"></app-campaign-type>
                </td>
                <td>{{ campaign.brand.name }}</td>
                <td>{{ campaign.submittedDate | date : 'MMMM d, y' }}</td>
            </tr>
        </tbody>
    </table>
</div>
