
$button-width: 235px;
$button-height: 36px;
$button-border-radius: 5px;
$button-color: #0081bb;

$primary-button-color: #f9c408;
$secondary-button-color: #0081bb;

%button {
    outline: 0;
    text-align: center;
    width: $button-width;
    height: $button-height;
    background-color: $button-color;
    color: #fff;
    border-radius: $button-border-radius;
    border: none;
    transition-duration: 0.3s;
    opacity: 0.9;
    font-size: 15;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    &:disabled {
        background-color: gray !important;
    }
    &.primary {
        background: $primary-button-color;
    }
    &.secondary {
        background: $secondary-button-color;
    }
}