%form {
    width: 100%;
    display: flex;
    flex-direction: column;
    .control {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 30px auto;
        grid-template-areas:
            'label error'
            'input input';
        padding-bottom: 25px;
        label {
            grid-area: label;
        }
        app-validation-error {
            grid-area: error;
        }
        input {
            grid-area: input;
            height: 36px;
            font-size: 15px;
            padding: 0 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none !important;
            &.ng-invalid.ng-touched {
                border: 1px solid red;
            }
            &::placeholder {
                color: lightgray;
            }
        }
    }
}