
$row-height: 37px;

%table {
    width: 100%;
    font-size: 15px;
    border-spacing: 0px;
    border-collapse: collapse;
    border-bottom: none;
    tr {
        cursor: pointer;
    }
    th,
    td {
        padding: 0 0 0 5px;
        height: $row-height;
    }
    thead th {
        color: #000000;
        text-align: left;
        font-size: 12px;
    }
    tbody {
        width: 100%;
        border-top: 1px solid rgb(166, 166, 166);
        border-bottom: none;
        tr:nth-child(even) {
            background: #F2F9FF;
        }
        td {
            font-size: 12px;
            color: black;
            img {
                cursor: pointer;
            }
            padding: 5px !important;
        }
        td:first-child {
            padding: 0 0 0 10px;
        }
    }
}
