@import "forms.scss";
@import "buttons.scss";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    header {
        font-size: 24px;
    }
    form {
        @extend %form;
        ng-select {
            grid-area: input;
        }
        button {
            @extend %button;
        }
        .checkboxes {
            grid-area: input;
            display: flex;
            flex-wrap: wrap;
            height: 300px;
            .checkbox-row {
                width: 49%;
                display: flex;
                gap: 10px;
                align-items: center;
                height: 20px;
            }
        }
        footer {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}