<div class="container">
    <header>Edit request</header>
    <form [formGroup]="form" (submit)="onSubmit(form)" *ngIf="form">
        <div class="control">
            <label for="">Brand *</label>
            <ng-select [items]="brands" [searchable]="false" [clearable]="false" bindLabel="name" formControlName="brand">
            </ng-select>
        </div>

        <div class="control">
            <label for="">Campaign name *</label>
            <input type="text" formControlName="campaignName" />
            <app-validation-error [control]="form.controls['campaignName']"></app-validation-error>
        </div>

        <div class="control" formArrayName="media">
            <label for="">Medias *</label>
            <div class="checkboxes">
                <div *ngFor="let item of getFormArray('media').controls; let j = index" [formGroupName]="j" class="checkbox-row">
                    <input type="checkbox" name="" formControlName="selected" id="{{ j }}" />
                    <label for="{{ j }}">{{ item.get('name').value }}</label>
                </div>
            </div>
        </div>

        <div class="control">
            <label for="">Deadline for decision *</label>
            <input type="date" formControlName="decisionDeadline" />
            <app-validation-error [control]="form.controls['decisionDeadline']"></app-validation-error>
        </div>

        <footer>
            <button type="button" routerLink="/campaign/list" class="primary">Cancel</button>
            <button [disabled]="!form.valid" class="secondary">Save</button>
        </footer>
    </form>
</div>
