<div class="container">
    <form [formGroup]="form" (submit)="onSubmit(form)">
        <div class="search">
            <input formControlName="search" type="text" placeholder="Search by name, status, desc." />
            <svg (click)="clearSearch()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                <path
                    d="M9,7.5l5.83-5.91a.48.48,0,0,0,0-.69L14.11.15a.46.46,0,0,0-.68,0l-5.93,6L1.57.15a.46.46,0,0,0-.68,0L.15.9a.48.48,0,0,0,0,.69L6,7.5.15,13.41a.48.48,0,0,0,0,.69l.74.75a.46.46,0,0,0,.68,0l5.93-6,5.93,6a.46.46,0,0,0,.68,0l.74-.75a.48.48,0,0,0,0-.69Z"
                ></path>
            </svg>
        </div>

        <ng-select
            class="brand"
            [items]="brands"
            [searchable]="false"
            bindLabel="name"
            bindValue="brandId"
            formControlName="brandId"
            placeholder="Brand"
            (clear)="clearBrand()"
        >
        </ng-select>
        <button>Filtrer</button>
    </form>
</div>
