@import "buttons.scss";

.container {
    width: 100%;
    form {
        display: flex;
        gap: 20px;
        .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 300px;
            position: relative;
            input {
                padding: 0 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                outline: none !important;
                height: 36px;
                flex-grow: 1;
                outline: none;
            }

            svg {
                cursor: pointer;
                fill: #a1a1a1;
                width: 14px;
                height: 14px;
                margin-right: 2%;
                position: absolute;
                left: 90%;
            }

            svg:hover {
                fill: unset;
            }

        }
        .brand {
            width: 200px;
        }
        button {
            @extend %button;
        }

    }
}