<div class="container">
    <header>All requests</header>
    <app-campaign-filter (filter)="onFilter($event)" [criteria]="criteria" [brands]="brands$ | async"></app-campaign-filter>
    <app-campaign-list [campaigns]="campaigns$ | async" (edit)="onEdit($event)"></app-campaign-list>
</div>
